@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: radial-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(120deg, rgba(0, 0, 0, 0.015) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.015) 75%);
  background-size: 6px 6px, 200px 200px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: radial-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px),
      linear-gradient(120deg, rgba(255, 255, 255, 0.03) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.03) 75%);
  }
}
